<html>
	<head>
    	<meta charset="utf-8">
    	<title></title>
    
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	    <link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-app="ChristmasApp">
	  	<div class="container">
	    	<div class="header" ng-controller="HeaderController">
	    	    <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Christmas App</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li ng-class="{active:isActive('/')}"><a href="/">Home</a></li>
                            
                            <!-- It exists  one group. Lets show the name of that group -->
                            <li ng-show="loginFactory.isAuthenticated && loginFactory.groups.length == 1"><a href="#">{{loginFactory.groups[0].name}}</a></li>
                            <!-- It exists more than one group. Lets build a dropdown -->
                            <li class="dropdown"  ng-show="loginFactory.isAuthenticated && loginFactory.groups.length > 1">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="group in loginFactory.groups"><a href="#">{{group.name}}</a></li>
                                </ul>
                            </li>
                            
                            
                            <!-- My wishlist -->
                            <li ng-class="{active:isActive('/wishList')}"  ng-show="loginFactory.isAuthenticated"><a href="#/wishList/{{loginFactory.user._id}}">Wishlist</a></li>
                            <li ng-class="{active:isActive('/about')}"><a href="#/about">About</a></li>
                            
                            <!-- Add group -->
                            <li ng-class="{active:isActive('/createGroup')}" ng-click="events.createGroup()"><a href="#">Create Group</a></li>
                            
                            
                            
                        </ul>
                        <p class="navbar-text pull-right" ng-hide="!loginFactory.isAuthenticated">{{loginFactory.user.email}} | <a ng-click="loginFactory.Logout()">Log Out</a></p>
                        <p class="navbar-text pull-right" ng-hide="loginFactory.isAuthenticated">{{loginFactory.user.email}} | <a href="#/login">Log In</a></p>
                    </div>
                    
                    
                </div>
                <alert ng-repeat="alert in alertFactory.alerts" type="{{alert.type}}" close="alertFactory.closeAlert($index)">{{alert.msg}}</alert>
                
                
	    	</div>
            <div ng-view=""></div>

	    	<div class="footer">
	        	
	      	</div>
	    </div>

	    <script src="bower_components/jquery/dist/jquery.js"></script>
    	<script src="bower_components/angular/angular.js"></script>
    	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    	<script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    	<script src="scripts/controllers/BaseController.js"></script>
        <script src="scripts/controllers/HeaderController.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/newUserController.js"></script>
        <script src="scripts/controllers/WishListController.js"></script>
        <script src="scripts/controllers/EditWishController.js"></script>
        <script src="scripts/controllers/EditGroupController.js"></script>
        <script src="scripts/controllers/YesNoModalController.js"></script>
        <script src="scripts/factories/loginFactory.js"></script>
        <script src="scripts/factories/authInterceptor.js"></script>
        <script src="scripts/factories/alertFactory.js"></script>
	    <script src="scripts/app.js"></script>
        
	</body>
</html>