<div class="modal-header">
    <h3 class="modal-title" ng-show="isEditMode">Edit wish</h3>
    <h3 class="modal-title" ng-show="!isEditMode">Add wish</h3>
</div>
<div class="modal-body">
   <form role="form" ng-submit="events.saveWish()">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="editedWish.name" type="text" class="form-control" id="name" name="name" placeholder="Enter wish" />
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <input ng-model="editedWish.comment" type="text" class="form-control" id="comment" name="comment" placeholder="Comment" />
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input ng-model="editedWish.url" type="text" class="form-control" id="url" name="url" placeholder="Url" />
    </div>
</form>
   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="events.onSave()">Save</button>
    <button class="btn btn-warning" ng-click="events.onCancel()">Cancel</button>
</div>