<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Url</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="wish in wishes">
            <td><a ng-click="events.selectWish(wish);">{{wish.name}}</a></td>
            <td><a href="{{wish.url}}">{{wish.url}}</a>
            </td>
            <td><a ng-click="events.editWish(wish);"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td><a ng-click="events.deleteWish(wish);"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<a ng-click="events.addWish()">Add wish</a>
<form role="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <p class="form-control-static">{{selectedWish.name}}</p>
        
    </div>
    <div class="form-group">
        <label class="control-label">Comment</label>
        <p class="form-control-static">{{selectedWish.comment}}</p>
    </div>
    <div class="form-group">
        <label class="control-label">Url</label>
        <p class="form-control-static">{{selectedWish.url}}</p>
    </div>

</form>