<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Url</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="wish in wishes">
            <td><a popover="{{wish.comment}}" popover-html="true" popover-title="{{wish.name}}" ng-click="events.selectWish(wish);">{{wish.name}}</a></td>
            <td><a href="{{wish.url}}">{{wish.url}}</a>
            </td>
            <td><a ng-click="events.editWish(wish);"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td><a ng-click="events.deleteWish(wish);"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<a ng-click="events.addWish()">Add wish</a>
